<br>
<br>
<br>
<div class="container">
<div class="row">
    <br>
    <form class="col s12" [formGroup]="fGroup">
        <input type="hidden" formControlName="id">

        <div class="row">
            <div class="input-field col s12">
                <input formControlName="name" id="name" type="text" />
                <label class="active" for="name">Nombre</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input formControlName="color" id="color" type="color" value="" />
                <label for="color"></label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
              <input formControlName="descripcion" id="eslogan" type="text" />
              <label class="active" for="eslogan">Descripción</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
                <input formControlName="precio" id="precio" type="number" />
                <label class="active" for="precio">Precio</label>
            </div>
        </div>


        <div class="row">
            <div class="input-field col s12">
                <button class="btn btn-success green" (click)="EditarRecord()">
                    <i class="material-icons left">edit</i>Actualizar
                </button>
                &nbsp;
                <a routerLink="/parameters/list-planes" class="waves-effect waves-light btn red"><i
                        class="material-icons left">cancel</i>Cancelar</a>
            </div>
        </div>
        
    </form>
</div>
</div>
