<footer class="page-footer blue-grey row darken-4">
  <div class="logoNegro left">
    <img class="logoNegro col 14 offset-12 s12" src="../../../../assets/images/LogoFooter.png" alt="">
  </div>
    <div class="container ">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Adventure Park Colombia</h5>
          <p class="grey-text text-lighten-4">adventureparkcolombia@gmail.com</p>
          <p class="grey-text text-lighten-4">Punto físico oficial: Cl. 66, Barrios Unidos, Bogotá</p>

        </div>
        <div class="col l4 offset-l2 s12">
          <ul>
            <li><u><a class="grey-text text-lighten-3" href="https://www.ucaldas.edu.co/portal/">www.ucaldas.edu.co</a></u></li>
            <li><u><a class="grey-text text-lighten-3" href="https://github.com/julianagomez21">github.com/julianagomez21</a></u></li>
            <li><u><a class="grey-text text-lighten-3" href="https://github.com/juandzapata">github.com/juandzapata</a></u></li>
            <li><p class="grey-text text-lighten-3"> © 2022 Universidad de Caldas </p></li>
          </ul>
        </div>
      </div>
    </div>
    <div>
    </div>
  </footer>