<br>
<a routerLink="/parameters/create-atracciones" class="waves-effect waves-light btn green"><i class="material-icons left">add</i>Agregar</a>
<table class="striped">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Imagen
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of recordList">
            <td>
                {{r.nombre}}
            </td>
            <td>
                {{r.descripcion}}
            </td>            
            <td>
                <img src="{{urlServer}}/ObtenerArchivo/1/{{r.imagen}}" alt="imagen"/>
            </td>
            <td>
                <a class="waves-effect waves-light btn orange"><i class="material-icons left">edit</i>Editar</a>
                &nbsp;<a class="waves-effect waves-light btn red"><i class="material-icons left">delete</i>Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>
