<div class="wallpaper center">
  <div class="container">
    <br>  
    
    <div class="section"></div>
      <div class="head1">
        <h1 class="title center">¡PARQUES ADVENTURE!</h1>
        <div class="container section">
          <p class="parrafo"> Hicimos una recopilacion de los mejores parques de aventura de Colombia para que puedas
            disfrutar con tu familia y amigos. Los parques que encontrarás aquí tienen alta calidad, la mejor
            seguridad, la tecnología más avanzada y el personal más calificado.
          </p>
        </div>
      </div>

    <div class="cards">

      <div class="card" *ngFor="let r of recordList">
        <div class="card-image">
          <img class="cardImage" src="{{urlServer}}/ObtenerArchivo/3/{{r.imagenLogo}}">
          <a (click)="ShowModal(r.imagenMapa)" class="btn-floating halfway-fab waves-effect waves-light green"><i
              class="material-icons">map</i></a>              
        </div>

        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{r.nombre}}<i
              class="material-icons right">add</i></span>
          <p><a href="#">{{r.direccion}}</a></p>
          <a routerLink="/views/views-zonas/{{r.id}}" class="magicButton right">ZONAS</a>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{r.eslogan}}<i class="material-icons right">close</i></span>
          <p>{{r.descripcion}}</p>
          <button class="magicButton right" routerLink="/views/views-zonas/{{r.id}}">ZONAS</button>
        </div>
      </div>
    </div>

    <!-- Modal Structure -->
    <div id="AddModal" class="modal">
      <div class="modal-content center">
        <img class="logos" src="{{urlServer}}/ObtenerArchivo/4/{{urlImage}}" alt="">
      </div>
    </div>

    <br>
  </div>
</div>