<div class="container">
<br>
<div class="section"></div>

<h3 class="title brown-text center">¡Parques!</h3>
<div class="section"></div>

<a routerLink="/parameters/create-parque" class="waves-effect waves-light btn green"><i class="material-icons left">add</i>Agregar</a>
<table class="striped">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Dirección
            </th>
            <th>
                Logo
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of recordList">
            <td>
                {{r.nombre}}
            </td>
            <td>
                {{r.direccion}}
            </td>            
            <td>
                <img class="logoParque" src="{{urlServer}}/ObtenerArchivo/3/{{r.imagenLogo}}" alt="logo"/>
            </td>
            <td>
                <a routerLink="/parameters/edit-parque/{{r.id}}" class="waves-effect waves-light btn orange"><i class="material-icons left">edit</i>Editar</a>
                &nbsp;
                <a routerLink="/parameters/remove-parque/{{r.id}}" class="waves-effect waves-light btn red"><i class="material-icons left">delete</i>Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>
</div>