<div class="container">
    <br>
    <div class="section"></div>
    
    <h3 class="title brown-text center">¡Planes!</h3>
    <div class="section"></div>
    <table class="striped">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Valor
                    
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let r of recordList">
                <td>
                    {{r.nombre}}
                </td>
                <td>
                    {{r.valor}}
                </td>            
                <td>
                    <a routerLink="/purchase/create-compra" class="waves-effect waves-light btn orange"><i class="material-icons left"></i>Comprar</a>
                   
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    