<br>
<br>
<br>

<div class="container">
    <h3 class="textosalvaje center">¡Tus compras!</h3>
    <br>
<div class="container" *ngFor="let c of compras">
        <div class="row">
            Fecha de tu compra: {{c.fecha}}
        </div>
        <div class="row">
            Descripción:
        </div>
    <table class="striped">
        <thead>
            <tr>
                <th>
                    Plan
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Precio Unitario
                </th>
                <th>
                    Subtotal
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of comprasPlanes">
                <td>
                    {{c.planNombre}}
                </td>          
                <td>
                    {{c.cantidad}}
                </td> 
                <td>
                    {{c.precio}}
                </td>  
                <td>
                    {{c.total}}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <h6 class="textosalvaje">Total compra: </h6>
        <p class="col"> $ {{totalCompra}}</p>
    </div>
    <div class="row">
        <p>.................................................................................................................................................................................................................</p>
    </div>
    
</div>
</div>
