.wallpaper{
    background: linear-gradient(rgba(0, 174, 255, 0.05),
    rgba(0, 174, 255, 0.2)),
    url(../../../../../assets/images/texturaAgua.jpg) no-repeat center
    center fixed;
    background-size:cover ;
    min-height: 100vh;
    height: 100%;
}