<div class="container">
<div class="row">
    <form class="col s12" [formGroup]="fGroup">
        <input type="hidden" formControlName = "id">
        <div class="cargaImagenes">
            <div>
                <div class="row">
                    <div class="input-field col s12">
                        <img *ngIf="uploadedImage == ''" src="/assets/images/notimage.jpg" class="imgInput" />
                        <img *ngIf="uploadedImage != ''" src="{{urlServer}}/ObtenerArchivo/1/{{uploadedImage}}"
                            class="imgInput">
                    </div>
                </div>


                <div class="row">
                    <div class="col sm-12">
                        <div class="file-field input-field">
                            <div class="btn blue">
                                <span>Imagen</span>
                                <input type="file" (change)="onFileSelect($event)" />
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="col sm-12">
                        <button (click)="UploadImage()" [disabled]="!isFileSelected" class="btn orange">Cargar</button>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input formControlName="name" id="name" type="text" />
                <label class="active" for="name">Nombre</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input formControlName="descripcion" id="descripcion" type="text" />
                <label class="active" for="descripcion">Descripción</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input formControlName="estaturaMinima" id="estaturaMinima" type="text" />
                <label class="active" for="estaturaMinima">Estatura Mínima</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input formControlName="video" id="video" type="text" />
                <label class="active" for="video">Link Video</label>
            </div>
        </div>

        <div class="row">
            <label class="input-field col s12 input-select">Zona</label>
          </div>
          <div class="row">
            <div>
              <select class="mi-select browser-default" (change)="capturar()" formControlName="seleccionado"
                id="seleccionado">
                <option disabled selected>Selecciona una zona</option>
                <option *ngFor="let r of zonas" value="{{r.id}}">{{r.nombre}}</option>
              </select>
            </div>
          </div>

        <div class="row">
            <div class="input-field col s12">
                <button class="btn btn-success green" (click)="EditarRecord()">
                    <i class="material-icons left">edit</i>Actualizar
                </button>
                &nbsp;
                <a routerLink="/parameters/list-atracciones" class="waves-effect waves-light btn red"><i
                        class="material-icons left">cancel</i>Cancelar</a>
            </div>
        </div>
    </form>
</div>
</div>
