<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <button class= "btn blue left cart" (click)="ShowModal()"><i class="material-icons">shopping_cart</i></button>

    <div class="">
        <br>
        <br>

        <div class="cards center">

            <div class="card" *ngFor="let r of recordList" [ngStyle]="{'background': r.planes.color}">
                <div class="row">
                    <div class="col card-content">
                        <span class="card-title activator grey-text text-darken-4 textosalvaje center">{{r.planes.nombre}}
                        </span>
                    </div>

                    <p class="parrafo left">{{r.planes.descripcion}}</p>
                    
                    <div class="row">
                        <a (click)="agregarAlCarrito(number, r.id, r.planes.nombre, r.planes.precio)" class="magicButton right"><i class="material-icons">add_shopping_cart
                        </i></a>
                        <div class="col row right add_min cart">                                                                                                                
                            <a (click)="removeNumber()" class="col btn blue-grey darken-4"><i class="material-icons white-text">remove</i></a>
                            <p class="col textosalvaje">{{number}}</p>
                            <a (click)="addNumber()" class="col btn blue-grey darken-4"><i class="material-icons white-text">add</i></a>
                        </div>                        
                    </div>
                    
                           
                </div>
                <div class="row">
                    <p class="precio center textosalvaje">${{r.planes.precio}}</p>
                </div>
            </div>
        </div>
        <br>
    </div>

    <!-- Modal Structure -->
    <div id="AddModal" class="modal">
        <h5 class="textosalvaje center">¡Tu carrito!</h5>
        <div class="container">
            <table class="striped">
                <thead>
                    <tr>
                        <th>
                            Plan
                        </th>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Precio Unitario
                        </th>
                        <th>
                            Subtotal
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of compras">
                        <td>
                            {{c.planNombre}}
                        </td>          
                        <td>
                            {{c.cantidad}}
                        </td> 
                        <td>
                            {{c.precio}}
                        </td>  
                        <td>
                            {{c.total}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="container row">
                <h6 class="textosalvaje">Total compra: </h6>
                <p class="col"> $ {{totalCompra}}</p>
            </div>
            
        </div>
        
        <div class="row">
            <div class="input-field col s12">
                <div class="right">
                    <button (click)="crearCompra()" class="waves-effect waves-light btn btn-success green">
                        Ir al pago
                    </button>
                </div>
            </div>
        </div>
      </div>
</div>


