<main>
    <div class="section"></div>

    <h3 class="title brown-text center">Cambio de contraseña</h3>

    <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

            <form class="col s12" [formGroup]="fGroup">
                <div class='row'>
                    <div class='input-field col s12'>
                        <input formControlName="username" type='email' name='email' id='email' />
                        <label for='email'>Confírmanos tu email</label>
                        <div class="input-error" *ngIf="fg['username'].errors && (fg['username'].dirty || fg['username'].touched)">
                            <ul>
                                <li><strong *ngIf="fg['username'].errors['required']">Este campo es requerido.</strong></li>
                                <br>
                                <li><strong *ngIf="fg['username'].errors['email']">Este campo debe contener un formato de email.</strong></li>
                                <br>
                                <li><strong *ngIf="fg['username'].errors['minlength']">El email debe contener mínimo 5 caracteres.</strong></li>
                            </ul>    
                        </div>
                    </div>
                </div>

                <div class='row'>
                    <div class='input-field col s12'>
                        <input formControlName="oldPassword" type='password' name='oldPassword' id='oldPassword' />
                        <label for="oldClave">Ingresa tu contraseña actual</label>
                        <div class="input-error"
                            *ngIf="fg['oldPassword'].errors && (fg['oldPassword'].dirty || fg['oldPassword'].touched)">
                            <ul>
                                <li><strong *ngIf="fg['oldPassword'].errors['required']">Este campo es requerido.</strong>
                                </li>
                                <br>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class='row'>
                    <div class='input-field col s12'>
                        <input formControlName="newPassword" type='password' name='newPassword' id='newPassword' />
                        <label for="newPassword">Ingresa la nueva contraseña</label>
                        <div class="input-error"
                            *ngIf="fg['newPassword'].errors && (fg['newPassword'].dirty || fg['newPassword'].touched)">
                            <ul>
                                <li><strong *ngIf="fg['newPassword'].errors['required']">Este campo es requerido.</strong>
                                </li>
                                <br>
                            </ul>
                        </div>
                    </div>
                </div>
                <br />

                <div class='row'>
                    <button type='button' (click)="ChangePasswordAction()" name='btn_forgot'
                        class='col s12 btn btn-large waves-effect brown'>Cambiar contraseña</button>
                </div>
            </form>
        </div>
    </div>
    <div class="section"></div>
    <div class="section"></div>
</main>
