<div class="wallpaper">
    <div class=" container">
        <br>

        <div class="cards container">

            <div class="card" *ngFor="let r of recordList">
                <div class="card-image">
                    <img class="tamaño" src="{{urlServer}}/ObtenerArchivo/1/{{r.imagen}}">
                    <a (click)="ShowModal(r.video)" class="btn-floating halfway-fab waves-effect waves-light red"><i
                            class="material-icons">ondemand_video</i></a>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4 textosalvaje center">{{r.nombre}}</span>
                    <div class="row">
                        <div class="col row estado">
                            <div class="circulo col" *ngIf="r.estado == 'Activa'" style="background-color: green"></div>
                            <div class="circulo col" *ngIf="r.estado == 'En mantenimiento'" style="background-color: yellow"></div>
                            <div class="circulo col" *ngIf="r.estado == 'Inactiva'" style="background-color: red"></div>
                            <p class="col">{{r.estado}}</p>
                        </div>
                        <p class="center col"><i class="material-icons">vertical_align_top</i>{{r.estaturaMinima}}cm</p>                        
                    </div>

                    <a routerLink="/views/views-planes/{{r.id}}" class="magicButton right">VER PLANES</a>
                    <br>
                    <p class="parrafo">{{r.descripcion}}</p>

                </div>
            </div>
        </div>

        <!-- Modal Structure -->
        <div id="AddModal" class="modal center">
            <iframe width="560" height="315" [src]="urlVideo | safe" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

        <br>
    </div>
</div>