<div class="container">
<div class="row">
    <br>
    <form class="col s12" [formGroup]="fGroup">
        <input type="hidden" formControlName="id">
        <div class="row">
            <div class="input-field col s12">
                <input formControlName="name" id="name" type="text" />
                <label class="active" for="name">Nombre</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input formControlName="codigoPostal" id="codigoPostal" type="text" />
                <label class="active" for="codigoPostal">Código Postal</label>
            </div>
        </div>

        <div class="row">
            <label class="input-field col s12 input-select">Departamento</label>
          </div>
          <div class="row">
            <div>
              <select class="mi-select browser-default" (change)="capturar()" formControlName="seleccionado"
                id="seleccionado">
                <option disabled selected>Selecciona un departamento</option>
                <option *ngFor="let r of departamentos" value="{{r.id}}">{{r.nombre}}</option>
              </select>
            </div>
          </div>

        <div class="row">
            <div class="input-field col s12">
                <button class="btn btn-success green" (click)="EditarRecord()">
                    <i class="material-icons left">edit</i>Actualizar
                </button>
                &nbsp;
                <a routerLink="/parameters/list-ciudades" class="waves-effect waves-light btn red"><i
                        class="material-icons left">cancel</i>Cancelar</a>
            </div>
        </div>
        
    </form>
</div>
</div>
