<br>
<div class="section"></div>

<h3 class="title brown-text center">¡Departamentos!</h3>
<div class="section"></div>
<a routerLink="/parameters/create-departamentos" class="waves-effect waves-light btn green"><i class="material-icons left">add</i>Agregar</a>
<table class="striped">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of recordList">
            <td>
                {{r.nombre}}
            </td>           
            <td>
                <a routerLink="/parameters/edit-departamentos/{{r.id}}" class="waves-effect waves-light btn orange"><i class="material-icons left">edit</i>Editar</a>
                &nbsp;<a routerLink="/parameters/remove-departamentos/{{r.id}}" class="waves-effect waves-light btn red"><i class="material-icons left">delete</i>Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>
