<nav class="pedro">
  <div class="nav-wrapper">
    <a routerLink="/home" (click)="selected = false" href=""><img src="../../../../assets/images/LogoAdventure.png"
        class="logo" alt=""></a>
    <button class="btn waves-effect waves-light light-blue accent-3 right btndisable" *ngIf="!isLogged"
      (click)="selected = true" [ngClass]="{'selected': selected == true}"
      routerLink="security/register-user">Registrarse</button>
    <button class="btn waves-effect waves-light light-blue accent-3 right btndisable" *ngIf="!isLogged"
      (click)="selected = true" [ngClass]="{'selected': selected == true}" routerLink="security/singup">Iniciar
      Sesión</button>    

    <button *ngIf="isLogged"
      class='sidenav-trigger btn-floating btn-large waves-effect waves-light light-blue accent-3 right' href='#'
      data-target='slide-out'><i class="material-icons">menu</i></button>
    <!-- Dropdown Structure -->
    <ul id='slide-out' class='sidenav'>
      <li>
        <div class="user-view">
          <div class="background">
            <img src="../../../../assets/images/background_image.jpg">

          </div>
          <a routerLink="">
            <img class="circle" *ngIf="imagen == '' || !isLogged || imagen == null" src="../../../../assets/images/without_photo.jpeg" />
            <img class="circle" *ngIf="imagen != '' && imagen != null " src="{{urlServer}}/ObtenerArchivo/6/{{imagen}}" />
          </a>
          <a><span class="white-text name">{{fullname}}</span></a>
          <a><span class="white-text email">{{correo}}</span></a>
          <a class="sidenav-close" routerLink="parameters/edit-usuario" *ngIf="isLogged && rolId == '6371d531ec6ee399607ab929'"><span class="white-text edit">Editar mi perfil</span></a>


        </div>
      </li>
      <li><a class="sidenav-close" *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' "
          routerLink="parameters/list-parque">Parques</a>
      </li>
      <li><a class="sidenav-close" *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' "
          routerLink="parameters/list-atracciones">Atracciones</a></li>
      <li><a class="sidenav-close" *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' "
          routerLink="parameters/list-zonas">Zonas</a></li>
      <li><a class="sidenav-close" *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' "
          routerLink="parameters/list-puestos">Puestos de
          Comida</a></li>
      <li><a class="sidenav-close" *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' "
          routerLink="parameters/list-planes">Planes</a>
      </li>
      <li><a class="sidenav-close" *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' "
          routerLink="parameters/list-departamentos">Departamentos</a></li>
      <li><a class="sidenav-close" *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' "
          routerLink="parameters/list-ciudades">Ciudades</a>
      </li>
      <li><a class="sidenav-close" *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' "
        routerLink="parameters/list-plan-atraccion">Planes por atracción</a>
      </li>
      <li><a class="sidenav-close" *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' "
          routerLink="report/report1">Prueba Reporte</a>
      </li>



      <li><a class="sidenav-close" *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' "
          routerLink="security/change-password">Cambiar
          contraseña</a>
      <br>
      <br>
      <br>
      <li><a class="sidenav-close" (click)="selected = false" *ngIf="isLogged" routerLink="security/logout">Cerrar
          sesión</a></li>
      <li><img class="imgside" src="../../../../assets/images/LogoAdventureSideNav.png " alt=""></li>
    </ul>

    <!--Dropdow init-->  
    <div class="right">
      <!-- Dropdown Trigger -->
      <a class='dropdown-trigger yellow-text text-darken-3 font1' href='#' data-target='dropdown1'><i class="material-icons right">expand_more</i>Parques Adventure</a>
        <!-- Dropdown Structure -->
      <ul id='dropdown1' class='dropdown-content'>
        <li><a routerLink="views/views-parque" class="yellow-text text-darken-3" href="#!">Parque del cáfe</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a  routerLink="views/views-parque" class="yellow-text text-darken-3" href="#!">Salitre Mágico</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a routerLink="views/views-parque" class="yellow-text text-darken-3" href="#!">Hacienda Nápoles</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a routerLink="views/views-parque" class="yellow-text text-darken-3" href="#!">Panaca</a></li>

      </ul>
    </div>
    <!--Dropdow close-->
    
  </div>
</nav>