  <nav>
    <div class="nav-wrapper yellow darken-4">
      <a routerLink="/home" class="brand-logo">Adventure</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">        
        <li><a *ngIf="!isLogged" routerLink="security/singup">Login</a></li>        
        <li><a *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' " routerLink="parameters/list-parque">Parques</a></li>        
        <li><a *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' " routerLink="parameters/list-atracciones">Atracciones</a></li>        
        <li><a *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' " routerLink="parameters/list-zonas">Zonas</a></li>        
        <li><a *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' " routerLink="parameters/list-puestos">Puestos de Comida</a></li>        
        <li><a *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' " routerLink="parameters/list-planes">Planes</a></li>        
        <li><a *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' " routerLink="parameters/list-departamentos">Departamentos</a></li>
        <li><a *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' " routerLink="parameters/list-ciudades">Ciudades</a></li>
        <li><a *ngIf="isLogged && rolId == '6371d531ec6ee399607ab929' " routerLink="asd">Comprar</a></li>
        <li *ngIf="isLogged">En sesión: {{fullname}}</li>
        <li><a *ngIf="isLogged" routerLink="security/logout">Logout</a></li>

      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a *ngIf="!isLogged" routerLink="security/singup">Login</a></li>            
    <li><a *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' " routerLink="parameters/list-parques">Parques</a></li>        
    <li><a *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' " routerLink="parameters/list-atracciones">Atracciones</a></li>        
    <li><a *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' " routerLink="parameters/list-zonas">Zonas</a></li>        
    <li><a *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' " routerLink="parameters/list-puestos">Puestos de Comida</a></li>        
    <li><a *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' " routerLink="parameters/list-plan">Planes</a></li>        
    <li><a *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' " routerLink="parameters/list-departamentos">Departamentos</a></li>
    <li><a *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' " routerLink="parameters/list-ciudades">Ciudades</a></li>
    <li><a *ngIf="isLogged" routerLink="security/logout">Logout</a></li>    
  </ul>
          
