
<!-- Dropdown Trigger -->
<a class='sidenav-trigger btn' href='#' data-target='slide-out'>Drop Me!</a>

<!-- Dropdown Structure -->
<ul id='slide-out' class='sidenav'>
  <li>
    <div class="user-view">
      <div class="background">
        <img src="../../../../assets/images/background_nav.jpg">

      </div>
      <a routerLink="">
        <img class="circle" *ngIf="imagen == '' || !isLogged" src="../../../../assets/images/without_photo.jpeg" />
        <img class="circle" *ngIf="imagen != ''" src="{{urlServer}}/ObtenerArchivo/6/{{imagen}}" />
      </a>
      <a href="#name"><span class="white-text name">{{fullname}}</span></a>
      <a href="#email"><span class="white-text email">{{correo}}</span></a>

    </div>
  </li>
  <li><a *ngIf="!isLogged" routerLink="security/singup">Iniciar Sesión</a></li>
  <li><a *ngIf="!isLogged" routerLink="security/register-user">Registrarse</a></li>
  <li><a class="sidenav-close" *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' " routerLink="parameters/list-parque">Parques</a>
  </li>
  <li><a class="sidenav-close" *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' "
      routerLink="parameters/list-atracciones">Atracciones</a></li>
  <li><a class="sidenav-close" *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' "
      routerLink="parameters/list-zonas">Zonas</a></li>
  <li><a class="sidenav-close" *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' " routerLink="parameters/list-puestos">Puestos de
      Comida</a></li>
  <li><a class="sidenav-close" *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' " routerLink="parameters/list-planes">Planes</a>
  </li>
  <li><a class="sidenav-close" *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' "
      routerLink="parameters/list-departamentos">Departamentos</a></li>
  <li><a class="sidenav-close" *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' " routerLink="parameters/list-ciudades">Ciudades</a>
  </li>

  <li><a class="sidenav-close" *ngIf="isLogged && rolId == '633aedcc38f68246c4b8bcb7' " routerLink="parameters/list-planes">Cambiar
      contraseña</a>
  <li><a *ngIf="isLogged && rolId == '6371d531ec6ee399607ab929' " routerLink="asd">Comprar Plan</a></li>

  <li><a *ngIf="isLogged && rolId == '6371d531ec6ee399607ab929'" routerLink="asd">Configurar mi cuenta</a></li>
  <br>
  <br>
  <br>
  <br>
  <li><a *ngIf="isLogged" routerLink="security/logout">Cerrar sesión</a></li>

</ul>