<br>
<br>
<br>
<div class="container">
  <h3 class="title brown-text center">¡Información para tu pago!</h3>
  <div class="container center">
    <div class="z-depth-1 grey lighten-4 row" style="padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

      <form class="form" [formGroup]="fGroup">
        <div class="col">
          <div class='row'>
            <div class='input-field col'>
              <input formControlName="tarjeta" type='text' name='tarjeta' id='tarjeta' />
              <label for='tarjeta'>Número de la tarjeta</label>
              <div class="input-error" *ngIf="fg['tarjeta'].errors && (fg['tarjeta'].dirty || fg['tarjeta'].touched)">
                <ul>
                  <li><strong *ngIf="fg['tarjeta'].errors['required']">Este campo es requerido.</strong>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s">
              <input formControlName="titular" id="titular" type="text" />
              <label for="titular">Titular de la tarjeta</label>
              <div class="input-error" *ngIf="fg['titular'].errors && (fg['titular'].dirty || fg['titular'].touched)">
                <ul>
                  <li><strong *ngIf="fg['titular'].errors['required']">Este campo es requerido.</strong>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col otro">
          <div class="row">
            <div class="input-field col s">
              <input formControlName="CVV" id="CVV" type="text" />
              <label for="CVV">CVV</label>
              <div class="input-error" *ngIf="fg['CVV'].errors && (fg['CVV'].dirty || fg['CVV'].touched)">
                <ul>
                  <li><strong *ngIf="fg['CVV'].errors['required']">Este campo es requerido.</strong>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s">
              <input formControlName="expiracion" id="expiracion" type="text" />
              <label for="expiracion">Fecha de expiración</label>
              <div class="input-error" *ngIf="fg['expiracion'].errors && (fg['expiracion'].dirty || fg['expiracion'].touched)">
                <ul>
                  <li><strong *ngIf="fg['expiracion'].errors['required']">Este campo es requerido.</strong>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">

            <a (click)="RemoveCompras()" class="waves-effect waves-light btn red"><i
                class="material-icons left">cancel</i>Cancelar</a>
            &nbsp;
            <button (click)="generarCodigo()" class="btn btn-success green">
              <i class="material-icons left"></i>Confirmar pago
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>