
<section class="slider">
  <ul class="slides">
    <li>
      <img src="../../../../assets/images/extremo.jpeg"> <!-- random image -->
      <div class="caption center-align">
        <h3>Los mejores parques de diversiones de todo el país!</h3>
        <h5 class="light grey-text text-lighten-3">Siempre estaremos cerca de tí</h5>
      </div>
    </li>
    <li>
      <img src="../../../../assets/images/carrusel.jpeg"> <!-- random image -->
      <div class="caption left-align">
        <h3>Atracciones para toda la familia</h3>
        <h5 class="light grey-text text-lighten-3">No importa ni tu edad ni tus gustos, solamente tu estarura</h5>
      </div>
    </li>
    <li>
      <img src="../../../../assets/images/montaña.jpeg"> <!-- random image -->
      <div class="caption right-align">
        <h3>Right Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="../../../../assets/images/acuatico.jpeg"> <!-- random image -->
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
  </ul>
</section>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">favorite</i></h2>
          <h5 class="center">Nosotros</h5>

          <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our
            custom components. Additionally, we refined animations and transitions to provide a smoother experience
            for developers.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">contact_mail</i></h2>
          <h5 class="center">Unéte a nosotros</h5>

          <p class="light">Si deseas que tu parque de aventuras haga parte de nuestro portafolio, no dudes en escribirnos a adventurepark@gmail.com donde te otorgaremos todas las normas de alianza</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">whatshot</i></h2>
          <h5 class="center">Próximamente...</h5>

          <p class="light">Nuestros servicios están a punto de expandirse a más departamentos de Colombia, incluso fuera de él.
            Países como Ecuador, Brasil, Argentina y Chile estarán pronto dentro de nuestro portáfolio de servicios.
            Puedes estar atento a la página para obtener más información.
          </p>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>