
.toast{
    width:100% !important;
    background-color: #263238 !important;
    margin-top: 0 !important;
    position: relative !important;
}

.sidenav-overlay{
    z-index: 5 !important;
}

h1{
    font-family: 'Hanalei Fill', cursive;
}

.textosalvaje{
    font-family: 'Hanalei Fill', cursive;
}