/* You can add global styles to this file, and also import other style files */


.success-toast{
    width:100% !important;
    background-color: green !important;
    margin-top: 0 !important;
}

.error-toast{
    width:100% !important;
    background-color: red !important;
    margin-top: 0 !important;
}


.toast{
    width:100% !important;
    background-color: green !important;
    margin-top: 0 !important;
    position: relative !important;
}

.sidenav-overlay{
    z-index: 5 !important;
}

h1{
    font-family: 'Hanalei Fill', cursive;
}