.card{
    margin: 5vh;
    z-index: 2;

}

.cards{    
    margin-top: 15vh;
    justify-content: center;
    z-index: 1;
}

.card-content{
    margin: 5vh;
}

.logos{
    width: 80%;
    transition: 0.5s;
    object-fit: cover;
}

.logos:hover{
    transform: scale(1.5);
}

.wallpaper{
    background: linear-gradient(rgba(0, 174, 255, 0.05),
    rgba(0, 174, 255, 0.2)),
    url(../../../../assets/images/texturaAgua.jpg) no-repeat center
    center fixed;
    background-size:cover ;
    min-height: 100vh;
    height: 100%;
}

.magicButton{
    margin-top: 8vh;
    margin-right: 2vh;
    margin-left: 2vh;
    background: #263238;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #FFF;
    font-size: 15px;
    position: relative;
}

.magicButton::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(
        45deg,
        blue, green,
        yellow,green
    );
    background-size: 1000%;
    border-radius: 5px;
    filter: blur(5px);
    animation: glowing 20s linear infinite; 
}

@keyframes glowing{
    0%{
        background-position: 0 0;
    }

    50%{
        background-position: 400% 0;
    }

    100%{
        background-position: 0 0;
    }
}

.parrafo{
    background-color: rgba(250, 250, 250, 0.16);
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    padding-top:7vh;
}

.precio{
    background-color: rgba(250, 250, 250, 0.16);
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
    margin: 1%;
}

div.row{
    margin-bottom: 0%;
}

div.col.card-content{
    margin-bottom: 0%;
    padding-bottom: 0%;
}

